<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="col-md-4" style="margin-top: 10px;">
        <form>
          <fieldset>
            <legend>Formulário:</legend>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Digite seu nome">
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="container">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nome</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
              </tr>
              <tr>
                <td>1</td>
              </tr>
              <tr>
                <td>1</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
